<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Aviso Legal</title>
</head>

<body>

  <h1>USO DEL SITIO - TÉRMINOS Y CONDICIONES</h1>
  <h2>Definiciones.</h2>
  <p>
   Por "Ducati" se entiende Ducati Motor Holding S.p.A. - Sociedad unipersonal - Empresa sujeta a las actividades de gestión y coordinación de AUDI AG, sociedad con sede en via Cavalieri Ducati n. 3, Bolonia, Italia. Por "Sito" se entiende el sitio web www.ducati.com administrado por Ducati y a nombre de dicha sociedad. Por "Usuario" o "Usted" se entiende cualquier visitante o usuario del Sitio.

Las varias secciones del Sitio son gestionadas por Ducati o por terceros, indicados cada vez. Este acuerdo contiene los términos y las condiciones correspondientes al uso del Sito y a los servicios y productos que están disponibles a través de éste. Los presentes términos y condiciones rigen las responsabilidades del Usuario y, además de otros aspectos, los límites de responsabilidad de Ducati. Antes de utilizar el Sitio, lea atenta y completamente el presente acuerdo. ACCEDIENDO A CUALQUIER PARTE O SECCIÓN DEL SITIO, EL USUARIO ACEPTA LOS PRESENTES TÉRMINOS Y CONDICIONES Y SE COMPROMETE A ATENERSE A LOS MISMOS. SI USTED NO ESTÁ DE ACUERDO CON LAS CONDICIONES INDICADAS EN EL PRESENTE ACUERDO NO DEBE UTILIZAR EL SITIO.
  </p>

    <h2>Aviso de propiedad reservada.</h2>
  <p>
  El Usuario reconoce que la información, los datos, el software, las fotografías, los gráficos, los vídeos, la gráfica, la música, los sonidos, las imágenes, las ilustraciones, el diseño, los iconos y cualquier otro material presente en este Sitio son propiedad exclusiva de Ducati o de terceras partes. Se prohíbe el duplicado, la reproducción incluso parcial, la descarga, la memorización, la publicación o difusión a través de cualquier medio y más en general cualquier acto de disposición o uso de información o de material proveniente de este Sitio, bajo todas las formas, a través de medios y tecnologías ya existentes o que serán desarrolladas en el futuro, salvo expresa indicación contraria.
  </p>

    <h2>Garantías.</h2>
  <p>
  Sin perjuicio de las garantías indicadas expresamente, y dispuestas por el concreto constructor o proveedor, todos los productos y servicios presentes en el Sitio lo son en base "al estado actual", "como disponible" sin garantías de ningún tipo, expresas o implícitas. No se establece garantía alguna en relación a lo siguiente: (i) el Usuario recibirá los bienes o servicios disponibles a través de este Sitio a un precio más bajo que se pueda encontrar en el mercado; (ii) la utilización de este Sitio estará exenta de errores; (iii) en cuanto a los resultados que pueden obtenerse utilizando este Sitio, o (iv) en lo concerniente a la exactitud, fiabilidad o calidad de cualquier contenido relativo a información, servicio, advertencia o mercancía suministrada o puesta a disposición a través de este Sitio. El Usuario declara expresamente que el uso por su parte del Sitio, es ejercido bajo su riesgo y responsabilidad.
  </p>

  <a href="../index.html">inicio</a>

</body>
</html>