<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modelos Ducati</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="images/"> 

</head>
<body>
  <header class="modelo">
  <nav class="nav-bar">
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="modelos.html">Modelos</a></li>
        <li><a href="presupuesto.html">Presupuesto</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </nav>
    <div class="hero-content">
      <h1>Modelos Ducati</h1>
      <p>Explora nuestra colección 2025</p>
    </div>
  </header>

  <main class="galeria">
    <h2>Galería de Motocicletas</h2>
    <div class="grid-modelos">
      <div class="modelo">
        <img src="/images/moto1.png" alt="Ducati Panigale V4">
        <h3>Panigale V4</h3>
      </div>
      <div class="modelo">
        <img src="/images/moto3.png" alt="Ducati Monster">
        <h3>Monster</h3>
      </div>
      <div class="modelo">
        <img src="/images/moto2.png" alt="Ducati Multistrada">
        <h3>Multistrada V4</h3>
      </div>
      <div class="modelo">
        <img src="/images/moto4.png" alt="Ducati Scrambler">
        <h3>streetfighter v4</h3>
      </div>
    </div>
  </main>

  <footer>
    <p>&copy; 2025 Ducati Motorcycles. Todos los derechos reservados.</p>
<div>
    <a class="instagram" href="https://www.instagram.com/ducati/?hl=es" target="_blank">
      <img src="/images/Instagram.png" alt="Instagram" width="50" >
    </a>
    <a class="youtube" href="https://www.youtube.com/@ducati" target="_blank">
      <img src="/images/youtube.png" alt="YouTube" width="50" >
    </a>
  </div>
  </footer>


</body>
</html>
