<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Aviso Legal</title>
  
</head>
<body>

  <h1>POLITICA DE PRIVACIDAD</h1>
  <h2>Aviso de privacidad, de acuerdo al artículo 13 del Reglamento Europeo 679/2016</h2>
  <p>
 Ducati es consciente de la importancia de los datos personales de los usuarios y, por lo tanto, está comprometida a informarles y proporcionarles el máximo control posible sobre la gestión de su información personal recopilada a través de este sitio web www.shop.ducati.com (en adelante, el «Sitio web»), que es manejado por el suplidor y revendedor Drop S.r.l.. (el "Responsable del tratamiento") en cumplimiento con las disposiciones del artículo 13 del Reglamento (UE) 679/2016 sobre la protección de las personas en lo que respecta al tratamiento de sus datos personales, así como sobre la libre circulación de dichos datos y la derogación de la Directiva 95/46/CE (en adelante el «Reglamento» o "RGPD").
  </p>

    <h2>Modalidad de tratamiento de datos</h2>
  <p>
  En relación con los fines enumerados anteriormente, el tratamiento de los datos personales se lleva a cabo con herramientas manuales, digitales y telemáticas para memorizar, gestionar y transmitir los mismos datos, únicamente con el objetivo de llevar a cabo los fines para los que se recogieron estos datos y, en todo momento, de modo que se garantice su seguridad y privacidad. Durante la ejecución de las actividades de tratamiento de datos, Ducati se compromete a:

▪ Asegurar la exactitud y actualización de los datos procesados, e incorporar rápidamente cualquier corrección y/o integración solicitada por la parte interesada;

▪ Notificar a la parte interesada, en el rango de tiempo y en los casos previstos por la normativa de cumplimiento obligatorio, cualquier vulneración de sus datos personales;

▪ Garantizar que las operaciones de tratamiento de datos se ejecutan de conformidad con las disposiciones legales en vigor.

Asimismo, cabe señalar que Ducati trata los datos personales adquiridos respetando al máximo los principios más estrictos en materia de precisión, legalidad y transparencia. En cumplimiento con la Normativa de Privacidad, la Compañía configura o, en cualquier caso, se compromete a configurar los sistemas de información y los programas informáticos de tal modo que se minimice el uso de datos personales, a fin de excluir su tratamiento si los objetivos establecidos pueden alcanzarse mediante el uso de datos anónimos o modalidades oportunas, respectivamente, que permitan identificar al interesado solo en caso de necesidad. Por último, cabe resaltar que los datos no se utilizarán tampoco para implementar procesos automatizados de toma de decisiones.
  </p>

    <h2>Modalidad de tratamiento de datos</h2>
  <p>
  En relación con los fines enumerados anteriormente, el tratamiento de los datos personales se lleva a cabo con herramientas manuales, digitales y telemáticas para memorizar, gestionar y transmitir los mismos datos, únicamente con el objetivo de llevar a cabo los fines para los que se recogieron estos datos y, en todo momento, de modo que se garantice su seguridad y privacidad. Durante la ejecución de las actividades de tratamiento de datos, Ducati se compromete a:

▪ Asegurar la exactitud y actualización de los datos procesados, e incorporar rápidamente cualquier corrección y/o integración solicitada por la parte interesada;

▪ Notificar a la parte interesada, en el rango de tiempo y en los casos previstos por la normativa de cumplimiento obligatorio, cualquier vulneración de sus datos personales;

▪ Garantizar que las operaciones de tratamiento de datos se ejecutan de conformidad con las disposiciones legales en vigor.

Asimismo, cabe señalar que Ducati trata los datos personales adquiridos respetando al máximo los principios más estrictos en materia de precisión, legalidad y transparencia. En cumplimiento con la Normativa de Privacidad, la Compañía configura o, en cualquier caso, se compromete a configurar los sistemas de información y los programas informáticos de tal modo que se minimice el uso de datos personales, a fin de excluir su tratamiento si los objetivos establecidos pueden alcanzarse mediante el uso de datos anónimos o modalidades oportunas, respectivamente, que permitan identificar al interesado solo en caso de necesidad. Por último, cabe resaltar que los datos no se utilizarán tampoco para implementar procesos automatizados de toma de decisiones.
  </p>
  <a href="presupuesto.html">Presupuesto</a>



</body>
</html>