<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solicita tu Presupuesto - Ducati</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <header class="presupuesto">
    <nav class="nav-bar">
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="modelos.html">Modelos</a></li>
        <li><a href="presupuesto.html">Presupuesto</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </nav>
    <div class="hero-content">
      <h1>Solicita tu Presupuesto</h1>
      <p>Queremos ayudarte a encontrar tu próxima Ducati</p>
    </div>
  </header>

  <main>
    <section class="formulario">
      <h2>Formulario de Presupuesto</h2>
      <form id="formPresupuesto">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" pattern="{a-z}" required>

         <label for="email">Email:</label>
         <input type="text" id="email" name="email"
         pattern="[a-zA-Z0-9.]+@[a-zA-Z0-9.]+\.[a-zA-Z]{2,}"
         title="Introduce un correo válido. Solo se permiten letras, números, puntos y arroba." required>

        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono" pattern="[0-9]{9}" required>
 
          <label for="info">Solicite más información:</label>
          <textarea id="info" name="info" rows="4" maxlength="300"
            title="Máximo 300 caracteres permitidos." required></textarea>

        <label>
          <input type="checkbox" id="privacidad" required>
          Acepto la <a href="politica-privacidad.html">política de privacidad</a>
        </label>

        <button type="submit">Enviar</button>
      </form>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 Ducati Motorcycles. Todos los derechos reservados.</p>
<div>
    <a class="instagram" href="https://www.instagram.com/ducati/?hl=es" target="_blank">
      <img src="/images/Instagram.png" alt="Instagram" width="50" >
    </a>
    <a class="youtube" href="https://www.youtube.com/@ducati" target="_blank">
      <img src="/images/youtube.png" alt="YouTube" width="50" >
    </a>
  </div>
    
  </footer>

</body>
</html>
